<div class="container d-flex justify-content-between align-items-center">
    <div class="container-bar col-9">
        <p><ngb-progressbar [value]=(skillData.porcentaje) height="19px" [type]="skillData.color">{{ skillData.titulo }}</ngb-progressbar></p>
    </div>
    <div class="container-buttons btn-group col-2 d-flex align-items-center justify-content-center">
        <app-edit-skill class="edit-container" *ngIf="logged" [skillDataIn]="skillData" ></app-edit-skill>
        <app-delete class="delete-container" *ngIf="logged" (click)="deleteSkill(skillData)"></app-delete>
    </div>
</div>
