<div class="about-container row">
    <div class="qualification-container d-flex flex-column col-lg-12 col-xl-4">
        <img class="face-img img-fluid" [src]="faceImage" alt="Foto de perfil">
        <!-- <div class="name-container d-flex"> -->
            <h1 class="name text-center">{{ name }}</h1>
            <p class="qualification text-center">Full Stack Web Developer</p>
        <!-- </div> -->
    </div>
    <div class="text-about col-lg-12 col-xl-8">
        <h3>Sobre mi</h3>
        <p class="about-description text-justify">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure nemo doloremque assumenda nostrum, ea fuga quae totam laboriosam, 
            maiores quas unde praesentium repellat dicta nobis. Cumque dolorem tenetur sint nesciunt? Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Quia consectetur tempore nostrum in maiores quos nulla molestias vitae rem suscipit sed, maxime quas mollitia commodi culpa pariatur, asperiores doloremque? Itaque.
        </p>    

    </div>
</div>