.about-container {
    margin: 0 50px;
    position: relative;
    padding-top: 5%;
    background-color: #fdfefe;

    .qualification-container {
        .face-img{
            border-radius: 50%;
            width: 190px;
            position: absolute;
            top: -130px;
            left: 10%;
            z-index: 10;
        }
        h1 {
            text-shadow: 3px 3px 5px #fff;
            z-index: 50;
        }
        .name {
            font-size: 3rem;
        }
        .qualification {
            font-size: 2rem;
        }
    }
}

@media (max-width: 1199px){
    .about-container{
        .qualification-container{
            .face-img{
                top: -150px;
                left: 38%;
            }
        }
    }
}

@media (max-width: 840px){
    .about-container{
        .qualification-container{
            .face-img{
                top: -150px;
                left: 31%;
            }
        }
    }
}

@media (max-width: 700px){
    .about-container{
        .qualification-container{
            .face-img{
                top: -160px;
                left: 30%;
            }
        }
    }
}

@media (max-width: 450px){
    .about-container{
        .qualification-container{
            .face-img{
                top: -170px;
                left: 25%;
            }
        }
    }
}

@media (max-width: 390px){
    .about-container{
        .qualification-container{
            .face-img{
                top: -170px;
                left: 7%;
            }
        }
    }
}
