.edit-container {
    display: flex;
    justify-content: center;
    align-items: center;
//  POSIBLES ESTILOS PARA AGREGAR
//     width: 60px;
//     height: 60px;
//     border-radius: 50%;
//     color:rgb(207, 207, 207);
//     background-color: #2f7208
//     ;
    }