.row {
    background-color: #808B96;
    margin-top: 50px;

    footer {
        color: #fefefe;
        font-size: 0.9rem;
        display: flex;
        padding-top: 50px;
        padding-bottom: 10px;
    }
}