.row{
    .container-header{
        position: relative;
        padding-bottom: 10px;
        margin-bottom: 3px;

        .btn{
            position: absolute;
            top: -15px;
            right: -8px;
        }
    }
}