<div class="work-container row">
    <div class="d-flex flex-wrap col">
        <img [src]="studiesData.imagenUrl" class="img-work img-fluid" alt="Image work" width="200px">
        <div class="text-work d-flex flex-column justify-content-center ">
            <h5>{{ studiesData.nombreF }}</h5>
            <p class="work-description">{{ studiesData.descripcionF }}</p>
        </div>
        <div class="container-edit-delete col d-flex flex-column align-items-end justify-content-center">
            <app-studies-edit *ngIf="logged" [study]="studiesData"></app-studies-edit>
            <app-delete (click)="deleteStudy(studiesData)"></app-delete>
        </div>
    </div>
</div>

