<div class="work-container row">
    <div class="d-flex flex-wrap col-11">
        <img [src]="projectData.imagenUrl" class="img-work img-fluid" alt="Image work" width="200px">
        <div class="text-work d-flex flex-column justify-content-center ">
            <h5>{{ projectData.nombreP }}</h5>
            <p class="work-description">{{ projectData.descripcionP }}</p>
        </div>
        <div class="edit-container d-flex justify-content-center">
        </div>
    </div>
    <div class="container-edit-delete col d-flex flex-column align-items-end justify-content-center">
        <app-project-edit *ngIf="logged" [project]="projectData"></app-project-edit>
        <app-delete *ngIf="logged" (click)="deleteProject(projectData)"></app-delete>
    </div>
</div>
