<div class="row d-flex justify-content-center align-items-center">
    <div class="container-title col-12">
        <h4 class="section-title">Proyectos realizados</h4>
    </div>
    <div class="column col-lg-5 col-xl-4">
        <div class="container-project">
            <img class="img-fluid" src="../../../assets/img/coffee-menu.JPG" alt="Menu Coffee" width="300px">
            <div class="project-description">
                <p class="title">Menu de Cafeteria</p>
                <p class="description">Realizado con HTML & CSS</p>
            </div>
        </div>
    </div>
    <div class="column col-lg-5 col-xl-4">
        <div class="container-project">
            <img class="img-fluid" src="../../../assets/img/form-access.JPG" alt="Accesibility form" width="300px">
            <div class="project-description">
                <p class="title">Formulario accesible</p>
                <p class="description">Apto para lectores de pantalla</p>
            </div>
        </div>
    </div>
    <div class="column col-lg-5 col-xl-4">
        <div class="container-project">
            <img class="img-fluid" src="../../../assets/img/coffee-menu.JPG" alt="Cell Shop" width="300px">
            <div class="project-description">
                <p class="title">Tienda de celulares</p>
                <p class="description">Realizado con Angular, es una tienda interactiva que consta de un carrito que se pueden agregar items y simlar una compra</p>
            </div>
        </div>
    </div>
</div>
