.work-container {
    margin-top: 2rem;
    margin-left: 2rem;

    .container-edit-delete{
        padding: 10px;

        app-delete{
            padding-right: 8px;
        }
    }

    img.img-work {
        width: 200px;
        height: 200px;
        object-fit: contain;
    }

    .text-work {
        margin-left: 3rem;
        h5 {
            font-size: 2.5rem;
        }
        .work-description {
            font-size: 1.75rem;
        }
    }
}