.navbar-container {
    background-color: #202020;
    padding: 0.5rem 1.2rem;
    margin: 0;

    .navbar-right{
        .social{
            margin-right: 0.4rem;

            .social-icon{
                margin-right: 1rem;
            }      
            
            a.linkedin-icon{
                color: #e7e7e7;
            }
            
            a.github-icon{
                color: #d5d8da;
            }
        }
    }
}
