<div class="container-max d-flex justify-content-center align-items-center">
    <div class="login-container">
        <form class="d-flex flex-column align-items-center" [formGroup]="form" (ngSubmit)="onEnviar($event)">
            <div class="container-log mb-3">
                <label for="exampleInputEmail1" class="form-label">Usuario</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="mail">
                <div *ngIf="Mail?.errors && Mail?.touched" class="alert alert-danger" role="alert">
                    <p *ngIf="Mail?.hasError('required')">
                        El mail es requerido.
                    </p>
                    <p *ngIf="Mail?.hasError('email')">
                        El formato de email es invalido.
                    </p>
                 </div>
            </div>
            <div class="container-log mb-3">
                <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
                <div *ngIf="Password?.errors && Password?.touched" class="alert alert-danger" role="alert">
                    <p *ngIf="Password?.hasError('required')">
                        El password es requerido.
                    </p>
                    <p *ngIf="Password?.hasError('minlength')">
                        El password debe tenes 5 o mas caracteres.
                    </p>
                </div>
            </div>
            <button  type="submit" class="btn btn-primary  button-login" [disabled]="!form.valid">Login</button>
        </form>
    </div>
</div>