.banner-container {
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 50px;
    position: relative;
    object-fit: contain;
}

.title-h2{
    color:aquamarine;
    font-size: 4.5rem;
    text-shadow: 3px 3px 5px #000;
}