<div class="edit-container">
	<button type="button" class="btn mb-2 me-2" (click)="openVerticallyCentered(content)">
		<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
			<path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
		</svg>
	</button>
</div>

<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Editor de Habilidad</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<form class="modal-body">
		<!-- Componentes del Edit -->
		<div class="form-floating mb-3">
			<input type="text" class="form-control" id="floatingTitle" placeholder="Conocimientos en.." name="description" [(ngModel)]="skillDataIn.description">
  			<label for="floatingTitle">Habilidad</label>
		</div>
		<div class="form-floating mb-3">
			<input type="text" class="form-control" id="floatingUrlImage" placeholder="ej.: 60" name="value" [(ngModel)]="skillDataIn.value">
  			<label for="floatingUrlImage">Porcentaje %</label>
		</div>
		<div class="form-floating mb-3">
			<select class="form-control" placeholder="Seleccione el color" id="floatingTextarea2" name="type" [(ngModel)]="skillDataIn.type">
                <option value="success">Verde</option>
                <option value="info">Celeste</option>
                <option value="warning">Amarillo</option>
                <option value="danger">Rojo</option>
                <option value="primary">Azul</option>
                <option value="secondary">Gris</option>
                <option value="dark">Negro</option>
            </select>
  			<label for="floatingTextarea2">Color</label>
		</div>
    
		<div class="modal-footer">
			<button type="submit" class="btn btn-dark">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-upload" viewBox="0 0 16 16">
					<path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
					<path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z"/>
				</svg>
			</button>
			<button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>			
		</div>
	</form>
</ng-template>
